---
layout: page
---
<article class="c-article">
    <header class="c-article__header">
        <h1 class="c-article__title">{{ page.title }}</h1>
        <p class="c-article__time"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    </header>
    <div class="c-article__main">
        {{ content }}
    </div>
    <footer class="c-article__footer">
        <p>
        {% for tag in page.tags %}
            <span class="c-tag">{{ tag }}</span>
        {% endfor %}
        </p>
    </footer>
</article>
